* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: black;
}

body {
    margin: 0;
}

header {
    background-color: #FEA996;
    padding: 1% 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .img_logo {
    width: 7%;
}

header nav {
    width: 57%;
    display: flex;
    justify-content: end;
}

header div.hamburguer-menu {
    display: none;
}

header div.hamburguer-menu img {
    width: 11%;
}

header nav a {
    padding: 2%;
    margin: 0 2%;
    text-decoration: none;
    color: black;
}

header nav a:hover {
    font-weight: bold;
    background-color: white;
    border-radius: 47%;
    color: black;
}

.presentacion {
    background-color: #0F1108;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5%;
    border-bottom: 2px solid white;
}

.presentacion img {
    width: 33%;
}

main .presentacion div {
    text-align: center;
    margin-top: 2%;
}

main .presentacion div * {
    color: white;
}

main .sobre_mi {
    background-color: #0F1108;
    padding: 2% 0;
    display: flex;
    flex-direction: column;
}

main .sobre_mi * {
    color: white;
    text-decoration: none;
}

main .sobre_mi .texto_sobre_mi h3 {
    margin-top: 0;
}

main .texto_sobre_mi {
    background-color: #FEA996;
    padding: 2%;
    width: 45%;
    border-top-right-radius: 85px;
    border-bottom-right-radius: 85px;
}

main .sobre_mi .boton_cv {
    background-color: #B24C63;
    padding: 1%;
    width: 20%;
    align-self: flex-end;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    text-align: center;
}

main .ilustracion {
    padding-bottom: 1%;
}

main .ilustracion h3 {
    text-align: center;
    margin-top: 3%;
}

main .ilustracion div {
    display: flex;
}

main .ilustracion div img {
    width: 80%;
    padding: 10%;
}

main .galeria {
    width: 700px;
    margin-left: 300px;
}

main .carrusel {
    padding-bottom: 1%;
    background-color: #0F1108;
}

main .carrusel h3 {
    text-align: center;
    padding-top: 3%;
    color: white;
}

main .carrusel div {
    display: flex;
}

main .carrusel div img {
    width: 80%;
    padding: 10%;
}

main .carrusel .botones_carrusel {
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
}

main .carrusel .botones_carrusel button {
    background-color: #B24C63;
    text-align: center;
    border: none;
    padding: 1%;
    font-size: 25px;
    border-radius: 50%;
    margin: 0 3%;
}

main .dibujos {
    padding-bottom: 1%;
}

main .dibujos h3 {
    text-align: center;
    margin-top: 3%;
}

main .dibujos div {
    display: flex;
}

main .dibujos div img {
    width: 80%;
    padding: 10%;
}

main .contacto {
    display: flex;
}

main .contacto div {
    width: 50%;
}
main .contacto .contacto_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #0F1108;
}

main .contacto .contacto_info article {
    padding: 2%;
}

main .contacto .contacto_info a {
    display: flex;
    align-items: center;
    padding: 1%;
    text-decoration: none;
    color: black;
}

main .contacto .contacto_info a img {
    width: 7%;
    padding: 1%;
}

main .contacto .contact_form * {
    color: white;
}

main .contacto .contact_form {
    background-color: #0F1108;
}

main .contacto .contact_form h3 {
    text-align: center;
}

main .contacto .contact_form form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 4%;
}

main .contacto .contact_form form label {
    padding: 1%;
}

main .contacto .contact_form form input {
    color: black;
}

main .contacto .contact_form form textarea {
    resize: none;
    color: black;
}

main .contacto .contact_form form .send {
    margin-top: 1%;
    width: 36.5%;
}

.warnings {
    width: 200px;
    text-align: center;
    margin: auto;
    color: red !important;
    padding-top: 20px;
}

footer {
    background-color: #0F1108;
    padding: 2%;
}

footer div {
    color: white;
    text-align: center;
}


@media screen and (max-width: 768px) {

    header div.hamburguer-menu {
        display: flex;
        justify-content: end;
    }

    header nav a {
        display: none;
    }

    main .contacto .contact_form {
        display: none;
    }  
    
    header .img_logo {
        width: 10%;
    }

    .presentacion img {
        width: 230px;
    }

    main .texto_sobre_mi {
        padding: 2% 7%;
    }

    main .sobre_mi .boton_cv {
        padding: 1% 5%;
    }

    main .ilustracion div {
        flex-direction: column;
        align-items: center;
    }

    main .ilustracion div img {
        width: 40%;
    }

    main .dibujos div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main .dibujos div img {
        width: 40%;
    }

    main .contacto div {
        width: 100%;
    }

    main .carrusel div div:first-of-type {
        display: none;
    }    
}

@media screen and (max-width: 340px) {

    main .carrusel div .carrusel_img_2 {
        display: none;
    }
}